/* Reset box model */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    font-family: 'Kumbh Sans', sans-serif;
}

/* Remove list styles */
ul,
ol {
    list-style: none;
}

/* Remove default typography styles */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    font-size: 1rem;
    font-weight: normal;
}

/* Remove hyperlink styles */
a {
    text-decoration: none;
    color: inherit;
}

/* Remove default form styles */
input,
textarea,
select,
button {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: inherit;
}

/* Additional reset styles can be added as needed */
.container {
    width: 100%;
    height: 100vh;
    border: 1px solid black;
    overflow: hidden;
    background-color: hsl(185, 75%, 39%);

}

.back-ground {
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: absolute;
    z-index: 2;
}

.top-img img {
    top: -30rem;
    right: 1rem;
}

.bottom-img img {
    bottom: -24rem;
    left: 1rem;
}

@media screen and (max-width:375px) {
    .top-img img {
        top: -30rem;
        right: 0;
    }

    .bottom-img img {
        bottom: -10rem;
        left: 0rem;
    }
}

.profile_card {
    display: relative;
    overflow: hidden;
    z-index: 10;
    width: 350px;
    height: 370px;
    top: 30%;
    margin: 0 auto;
    border-radius: 15px;
    background-color: white;
    /* box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2); */
    /* border: 1px solid black; */
}

.profile_content {
    width: 100%;
    height: auto;
}

.profile_img {
    display: flex;
    justify-content: center;
    align-items: center;
    top: -60px;
}

.profile_img img{
    border-radius: 50%;
    border: 5px solid white;
}

.profile_header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    text-align: center;
    top: -1.5rem;
    padding-bottom: 1rem;
}

.profile_name {
    display: flex;
    top: -.5rem;
}

.profile_name h1 {
    font-size: 18px;
    color: hsl(229, 23%, 23%);
    font-weight: 700;
}

.profile_name p {
    margin-left: 8px;
    color: hsl(227, 10%, 46%);
}

.city h5{
    font-size: 14px;
    color: hsl(227, 10%, 46%);      
}

.profile_stats {
    border-top: 1px solid rgba(169, 169, 169, 0.504);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: -1rem;
}

.profile_stats_item {
    margin: 0 1rem;
    padding: 1rem;
}

.profile_stats_item h5 {
    font-size: 18px;
    color: hsl(229, 23%, 23%);
    font-weight: 700;
}

.profile_stats_item p {
    margin-top: 4px;
    color: hsl(227, 10%, 46%);
    font-size: 10px;
    letter-spacing: 1.5px;
}